{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
 <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe neque ex ipsam animi impedit minima magni amet? Necessitatibus amet ab totam alias! Unde rem itaque excepturi blanditiis ratione. Repellendus. </p>
{% endblock %}
